body {
    margin : 0px;
    background-color: #dbebfa;
}

.toolbox_left{

    height:100%;
    
    width : 70px;
    position: absolute;
    
    background-color : #dbebfa;
    left :px;
    top : 0px;

}


.toolbox_right{

    height: 100%;
    width : 70px;
    position: absolute;

    background-color:  #dbebfa;
    
    right :50px;
    top : 0px;

}

canvas {
    cursor: url('src/cursor/brush.cur') , auto;

    border: 1px solid #000000;
    position: absolute;
    top : 0px;
    left: 100px;
    background-color: white;
    border:  0;
}

.btn_l {
    position: absolute;
    align-self: center;
    left:0px;
    width: 90px;
    height: 60px;
    box-shadow: none;
    background-color: #dbebfa ;
    border: 2;
    
    border-color: #46555e;
    
}

.btn_r {

    position: absolute;
    align-self: center;
    right:10px;
    width: 50px;
    height: 50px;
    box-shadow: none;
    background-color: #dbebfa ;
    border-radius: 50%;
    border:3px;
    border-color: #46555e;

}

.undo{
    left: 5px;
    top:0px;
}
.redo{
    left: 5px;
    top:60px;
}



.brush{
    left:10px;

    top:130px;
}

.eraser{
    left:10px;

    top:190px;
}

.rec{
    left:10px;

    top:250px;
}

.circle{
    left:10px;

    top:310px;
}

.text{

    left:10px;
    top:430px;
}

.reset{
    left:10px;

    top:490px;
}

.save{
    left:10px;
    top:550px;
}

.upload{
    left:10px;

    top:610px;
}

.tri{
    left:10px;

    top:370px;
}


.black{
    top : 240px;
    background: black;
}

.white{
    top : 300px;
    color :black;
    background: rgb(255, 255, 255);
}

.blue{
    top : 360px;
    background: #0ebeff;
}

.red{
    top : 420px;
    background: #ff3c41;
}

.green{
    top : 480px;
    background: #47cf73;
}



.bold{
    
    top : 100px;

}

.thin{
    
    top : 160px;
}

#colorpicker{

    position: absolute;

    right: 17px;
    top:50px;

}

.submit{

    position: absolute;
    
    right:0px;
    top : 50px;
    font-size: 20px;
    color: white;

    background-color:  #dbebfa;


}

.font_sel{

    padding:100px;
}

.size_sel{
 
    padding:100px;

}

.sel{

    position: relative;

}

